<h1 align='center'><%= 'Category: ' + @category.name %></h1>
<div align='center'>
  <% if logged_in? and current_user.admin? %>
      <div class='category-actions'>
        <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-xs btn-primary' %>
      </div>
  <% end %>
  <%= will_paginate @category_articles %>
</div>
<%= render 'articles/article', obj: @category_articles %>
<div align='center'>
  <%= will_paginate @category_articles %>
</div>
